.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 60px;

    a {
        text-decoration: none;
    }


    .m-button {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: #34495e;
        color: #fff;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        // justify-items: ;
        align-items: center;


        &:not(:last-of-type) {
            border-right: 1px solid #adbfd2;

        }

        img {
            margin-right: 5px;
        }

    }

}